main{
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

main p{
    margin: 10px 0px;
    text-align: justify;
}
main h2{
    margin-top: 20px;
}

#etteremlista,
#kintilista,
#szobalista,
#wellness-lista{
    margin-left: 30px;
}

#etteremlista,
#kintilista,
#szobalista,
#wellness-lista span{
    font-weight: bold;
    color: #383587;
}

main li::marker {
    color: #383587;
  }

#Hotelkep{
    max-width: 300px;
    float: right;
    margin-left: 40px;
}
#szobakep{
    max-width: 270px;
    float: left;
    margin-right: 40px;
}
img{
    /*border: 4px outset #383587;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
.jobbrakep{
    max-width: 300px;
    float: right;
    margin-left: 40px;
}
.balrakep{
    max-width: 270px;
    float: left;
    margin-right: 40px;
}
