main{
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

main p{
    margin: 10px 0px;
    text-align: justify;
}
main h2{
    margin-top: 40px;
    margin-bottom: 20px;
}

#etteremlista,
#kintilista,
#szobalista,
#wellness-lista{
    margin-left: 30px;
}

#etteremlista,
#kintilista,
#szobalista,
#wellness-lista span{
    font-weight: bold;
    color: #383587;
}

main li::marker {
    color: #383587;
  }


main img{
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
.jobbrakep{
    max-width: 300px;
    float: right;
    rotate: 4deg;
    margin: 30px 0px 30px 40px;
}
.balrakep{
    max-width: 300px;
    float: left;
    rotate: -4deg;
    margin: 30px 40px 30px 0px;
}

@media only screen and (max-width: 500px) {
    .jobbrakep,
    .balrakep{
        margin-left: 0px;
        margin-right: 0px;
    }
    
}
