.columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 0.4rem;
}

.columns > div {
    display: flex;
    flex-direction: column;
    background-color: #dfdfdf;
    align-items: center;
}

.columns img{
    width: 100%;
}
 
@media only screen and (max-width: 1145px) {
    .columns{
        display: grid;
        grid-template-columns: repeat(2, minmax(200px,1fr));
    }
}

@media only screen and (max-width: 600px) {
    .columns{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 0.4rem;
    }
}