
table{
    margin: auto;
    width: 80%;
    text-align: center;
    background-color: #cacaca;
    border-collapse: collapse;
    box-shadow: 1rem 1.3rem 7px #c2c2c2;
}

th{
    border: 2px solid black;
    font-size: 1.4rem;
}

td{
    border: 2px solid black;
}

tr:nth-child(even){
    background-color: #999999;
}

main{
    padding: 1rem;
}

main p{
    text-align: center;
    font-weight: bold;
}

.small-screen-tables{
    display: none;
}

#table-container{
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(200px ,1fr));
    gap: 0.4rem;
}

tr:hover {
    background-color: #dddddd;
}

@media screen and (max-width: 770px){
    .big-screen-table{
        display: none;
    }

    .small-screen-tables{
        display: block;
        width: fit-content;
        margin: auto;
    }

    main{
        padding: 2rem 1rem;
    }
}